In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
credit_card_data=pd.read_csv("/content/creditcard.csv")

In [5]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
39697,39927,-1.466679,2.425732,0.877724,3.950765,0.762477,1.162748,0.575625,-0.288354,-1.357990,...,0.186051,0.571010,-0.107517,-0.754306,-0.752828,0.113179,-2.079421,-0.809173,1.50,0.0
39698,39927,-0.523165,-0.100021,0.892966,-1.900405,-0.156870,-0.783894,0.917683,-0.308345,-1.305284,...,-0.082504,-0.414677,-0.063392,-0.087455,-0.303383,-0.682889,-0.178417,-0.137169,100.92,0.0
39699,39928,-2.768425,-1.007072,2.151127,0.117797,1.283178,1.869731,-0.562240,0.820374,0.348797,...,-0.182963,0.778210,0.904077,-1.288631,0.212441,0.483975,-0.027614,-0.582813,11.99,0.0
39700,39928,1.201327,0.158614,-0.325263,0.471667,0.086446,-0.770357,0.422151,-0.205277,-0.451865,...,0.027664,-0.018485,-0.199382,0.053605,0.683829,0.428416,-0.077342,-0.006394,45.00,0.0
39701,39929,1.097669,-1.315782,0.659681,-0.683915,-1.342612,0.332629,-1.110900,0.194811,-0.248825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39702 entries, 0 to 39701
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    39702 non-null  int64
 1   V1      39702 non-null  float64
 2   V2      39702 non-null  float64
 3   V3      39702 non-null  float64
 4   V4      39702 non-null  float64
 5   V5      39702 non-null  float64
 6   V6      39702 non-null  float64
 7   V7      39702 non-null  float64
 8   V8      39702 non-null  float64
 9   V9      39702 non-null  float64
 10  V10     39702 non-null  float64
 11  V11     39702 non-null  float64
 12  V12     39702 non-null  float64
 13  V13     39701 non-null  float64
 14  V14     39701 non-null  float64
 15  V15     39701 non-null  float64
 16  V16     39701 non-null  float64
 17  V17     39701 non-null  float64
 18  V18     39701 non-null  float64
 19  V19     39701 non-null  float64
 20  V20     39701 non-null  float64
 21  V21     39701 non-null  float64
 22  V22     39701 non-null  float64
 23  V23     39701 non-null  float64
 24  V24     39701 non-null  float64
 25  V25     39701 non-null  float64
 26  V26     39701 non-null  float64
 27  V27     39701 non-null  float64
 28  V28     39701 non-null  float64
 29  Amount  39701 non-null  float64
 30  Class   39701 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 9.4 MB

In [9]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [10]:
credit_card_data['Class'].value_counts()

0.0    39597
1.0      104
Name: Class, dtype: int64

In [11]:
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [12]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0
6108,6986,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1.0
6329,7519,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1.0

In [13]:
legit.Amount.describe()

count    39597.000000
mean        87.420700
std        234.514383
min          0.000000
25%          7.420000
50%         23.500000
75%         79.000000
max       7879.420000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     104.000000
mean       97.070769
std       255.012160
min         0.000000
25%         1.000000
50%         3.775000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,25514.725686,-0.194310,0.036967,0.744162,0.174545,-0.217414,0.107151,-0.093182,0.031783,0.222434,...,0.046047,-0.031386,-0.111706,-0.039470,0.007851,0.135895,0.022779,0.005987,0.003920,87.420700
1.0,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.663205,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769

In [16]:
legit_sample=legit.sample(n=104)

In [17]:
new_data_set=pd.concat([legit_sample,fraud],axis=0)

In [18]:
new_data_set.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
26380,34032,-1.013597,0.775128,1.454725,-0.205866,1.103614,0.270905,1.012405,0.214796,-1.072559,...,-0.348386,-1.326656,-0.010161,-0.916818,0.289774,-0.860631,0.011843,0.056478,56.00,0.0
31646,36451,-0.317066,1.197252,1.164692,-0.031722,0.295909,-0.750574,0.782366,-0.112161,-0.534713,...,-0.274224,-0.666873,-0.069310,0.003413,-0.075579,0.090498,0.251813,0.097059,4.48,0.0
5560,5680,-0.348230,0.397211,2.349409,1.173396,-0.133879,0.454458,-0.226819,0.054197,1.735789,...,-0.139747,0.105727,-0.144609,-0.068840,-0.374898,-0.455427,-0.180041,-0.161515,12.99,0.0
10586,17627,1.183415,0.436853,0.534513,1.395665,-0.029958,-0.344382,0.002183,-0.171448,1.190018,...,-0.043371,0.219760,-0.078688,0.043725,0.593050,-0.292255,0.010238,0.014368,9.90,0.0
4366,3763,1.440474,-0.619186,-0.892391,-1.632785,1.478245,3.267459,-1.197254,0.715612,0.362494,...,-0.290382,-0.887570,0.099095,0.918982,0.364466,-0.506221,-0.016104,0.011914,21.71,0.0

In [20]:
new_data_set['Class'].value_counts()

0.0    104
1.0    104
Name: Class, dtype: int64

In [21]:
new_data_set.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,24922.211538,-0.219627,0.068596,0.904725,0.099851,-0.100772,0.092732,0.091721,-0.002921,0.218042,...,0.061904,-0.073718,-0.110402,-0.087380,-0.110472,0.111633,-0.037676,-0.011935,-0.030454,83.007500
1.0,20683.201923,-7.697309,5.766703,-10.853666,5.865850,-5.424996,-2.275717,-7.641867,3.827809,-2.924282,...,0.663205,0.626795,-0.345972,-0.342944,-0.230514,0.299242,0.176522,0.811431,0.099914,97.070769

In [22]:
X= new_data_set.drop(columns='Class',axis=1)
Y=new_data_set['Class']

In [23]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
26380  34032 -1.013597  0.775128  1.454725 -0.205866  1.103614  0.270905
31646  36451 -0.317066  1.197252  1.164692 -0.031722  0.295909 -0.750574
5560    5680 -0.348230  0.397211  2.349409  1.173396 -0.133879  0.454458
10586  17627  1.183415  0.436853  0.534513  1.395665 -0.029958 -0.344382
4366    3763  1.440474 -0.619186 -0.892391 -1.632785  1.478245  3.267459
...      ...       ...       ...       ...       ...       ...       ...
30473  35942 -4.194074  4.382897 -5.118363  4.455230 -4.812621 -1.224645
30496  35953 -4.844372  5.649439 -6.730396  5.252842 -4.409566 -1.740767
31002  36170 -5.685013  5.776516 -7.064977  5.902715 -4.715564 -1.755633
33276  37167 -7.923891 -5.198360 -3.000024  4.420666  2.272194 -3.394483
39183  39729 -0.964567 -1.643541 -0.187727  1.158253 -2.458336  0.852222

             V7        V8        V9  ...       V20       V21       V22  \
26380  1.012405  0.214796 -1.072559  ...  0.033440 -0.348386 -1.326656
31646  0.782366 -0.112161 -0.534713  ...  0.197386 -0.274224 -0.666873
5560  -0.226819  0.054197  1.735789  ... -0.050007 -0.139747  0.105727
10586  0.002183 -0.171448  1.190018  ... -0.172475 -0.043371  0.219760
4366  -1.197254  0.715612  0.362494  ...  0.180813 -0.290382 -0.887570
...         ...       ...       ...  ...       ...       ...       ...
30473 -7.281328  3.332250 -3.679659  ...  0.579098  1.550473  0.614573
30496 -6.311699  3.449167 -5.416284  ...  0.284555  1.194888 -0.845753
31002 -6.958679  3.877795 -5.541529  ...  0.299489  1.128641 -0.962960
33276 -5.283435  0.131619  0.658176  ... -2.169811 -0.734308 -0.599926
39183  2.785163 -0.303609  0.940006  ...  1.784449  0.447180  0.536204

            V23       V24       V25       V26       V27       V28  Amount
26380 -0.010161 -0.916818  0.289774 -0.860631  0.011843  0.056478   56.00
31646 -0.069310  0.003413 -0.075579  0.090498  0.251813  0.097059    4.48
5560  -0.144609 -0.068840 -0.374898 -0.455427 -0.180041 -0.161515   12.99
10586 -0.078688  0.043725  0.593050 -0.292255  0.010238  0.014368    9.90
4366   0.099095  0.918982  0.364466 -0.506221 -0.016104  0.011914   21.71
...         ...       ...       ...       ...       ...       ...     ...
30473  0.028521  0.013704 -0.149512 -0.131687  0.473934  0.473757   14.46
30496  0.190674 -0.216443 -0.325033 -0.270328  0.210214  0.391855  111.70
31002 -0.110045 -0.177733 -0.089175 -0.049447  0.303445  0.219380  111.70
33276 -4.908301  0.410170 -1.167660  0.520508  1.937421 -1.552593   12.31
39183  1.634061  0.203839  0.218749 -0.221886 -0.308555 -0.164500  776.83

[208 rows x 30 columns]

In [24]:
print(Y)

26380    0.0
31646    0.0
5560     0.0
10586    0.0
4366     0.0
        ...
30473    1.0
30496    1.0
31002    1.0
33276    1.0
39183    1.0
Name: Class, Length: 208, dtype: float64

In [26]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [27]:
print(X.shape,X_train.shape,X_test.shape)

(208, 30) (166, 30) (42, 30)

In [28]:
model=LogisticRegression()

In [32]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [34]:
print(training_data_accuracy)

0.9698795180722891

In [35]:
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [36]:
print(testing_data_accuracy)

0.9523809523809523